.text-stroke {
    color: transparent; /* Text color */
    -webkit-text-stroke: 3px #2baa8d; /* Stroke width and color */
}
.text-strokeH1 {
    color: transparent; /* Text color */
    -webkit-text-stroke: 3px rgb(240, 236, 233); /* Stroke width and color */
}
.text-strokeH1:hover {
    -webkit-text-stroke: 3px #2baa8d;
}
.slick-slider > div {
    margin: 0 10px;
}

.loop-scrool-ltr {
    animation: loop-scroll 60s linear infinite;
}
.loop-scrool-rtl {
    animation: loop-scroll-rtl 20s linear infinite;
}

@keyframes loop-scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

@keyframes loop-scroll-rtl {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes loop-image {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.loop-image {
    animation: loop-image 60s linear infinite;
}

@keyframes transitionY {
    from {
        transform: translateY(-300%);
    }
    to {
        transform: translateY(0%);
    }
}

.transitionY {
    animation: transitionY 0.5s ease-in-out;
}
