.text-stroke {
    color: transparent; /* Text color */
    -webkit-text-stroke: 3px #2baa8d; /* Stroke width and color */
}
.text-strokeH1 {
    color: transparent; /* Text color */
    -webkit-text-stroke: 3px rgb(240, 236, 233); /* Stroke width and color */
}
.text-strokeH1:hover {
    -webkit-text-stroke: 3px #2baa8d;
}
.slick-slider > div {
    margin: 0 10px;
  }

@keyframes loop-scrool {
  
  to {
    transform: translateX(-200%);
   
  }
}

.loop-scrool {
  animation: loop-scrool 30s linear infinite;
}
@keyframes loop-image {
    from {
      transform: translateX(0%);
      
    }
    to {
      transform: translateX(-100%);
    
    }
  }
  
  .loop-image {
    animation: loop-image 60s linear infinite;
  }
  @keyframes transitionY {
    from {
      transform: translateY(-300%);
      
    }
    to {
      transform: translateY(0%);
     
    }
  }
  
  .transitionY {
    animation: transitionY 0.5s ease-in-out;
  }